<h2 class="text-3xl font-bold text-center mb-8">Star</h2>

{% extends "layouts/base.html.twig" %}

{% block app %}
  <div class="flex justify-between w-full mb-4 p-4" >
    <h1 class="text-2xl font-bold">List of Stars</h1>
    <a href="/stars/create" class="inline-flex items-center px-4 py-2 bg-green-500 text-white hover:bg-green-700 rounded-md">
      <button type="button">Add New Star</button>
    </a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {% for star in stars %}
      {% include 'partials/_star.html.twig' with star %}
    {% endfor %}
  </div>

{% endblock %}