<header class="flex justify-between items-center h-20 px-4 bg-gray-800 text-white">
  <nav id="primary-header-nav">
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:text-gray-200">Home</a></li>
      <li><a href="/planets" class="hover:text-gray-200">Planets</a></li>
      <li><a href="/galaxies" class="hover:text-gray-200">Galaxies</a></li>
      <li><a href="/stars" class="hover:text-gray-200">Stars</a></li>
    </ul>
  </nav>
</header>