<html>
  <head>
    <title>spacetracker</title>
  </head>
  <body>
    {% include "partials/_header.html.twig" %}
    <main id="app">
        {% block app%}{% endblock %}
    </main>
    {% include "partials/_footer.html.twig" %}
  </body>
</html>
